$main-bg-color-white: #ffffff;
$bg-color-mercury: #E5E5E5;
$color-white: #ffffff;
$color-black: #000000;
$color-mine-shaft: #333333 ;
$color-corn: #E8C300;

$o-font-light: 'Open Sans Light';
$o-font-bold: 'Open Sans Bold';
$d-font-regular: 'Dosis Regular';
$d-font-bold: 'Dosis Bold';